<div class="error-container"></div>
<form id="form">
	<h1>Adding new user</h1>
	<input type="text" id='username' placeholder="Enter your name" autofocus />
	<input type="text" id='url' placeholder="Insert avatar URL" />
	<div class="radio-wrap">			
		<input type="radio" name="team" id="frontend" value="frontend" checked/>
		<label for="frontend">Front-end</label>
		<input type="radio" name="team" id="backend" value="backend" />
		<label for="backend">Back-end</label>
	</div>
	<div class="button" id="saveButton">Save</div>
</form>