<div class="imgBox-class"><img src="<%= avatar_url  %>" alt=""></div>
<input type="text" class="editName" placeholder="<%= name %>" value="<%= name %>"/>
<div class="nameBox-class"><%= name %></div>
<div class="destroyButton-class"></div>