/*
*
* Reset and normalize styles
*
*/

header, footer, div, ul, input, section
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: 	border-box;
	box-sizing:			border-box;
}

.clear-fix:after
{
	content:'';
	display:block;
	clear:both;
}

html, body
{
	height:100%;
}

/*
*
* Header and footer styles
*
*/

#header
{
	width: 100%;
	min-width: 1024px;
	height: 150px;
	padding: 60px 32px;
	background: #eee;
	text-align: center;
	color: #909090;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom:1px solid #F28E58;
}

.button
{
	width: 220px;
	text-decoration: none;
	background: #F28E58;
	margin-top: 30px;
	cursor: pointer;
	padding: 12px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 16px;
}

.button:hover
{
	opacity:0.9;
}

#addButton, #backButton
{
	position: absolute;
	top: 20px;
	left: 32px;
}

#container
{
	padding:30px 10px;
	width:1024px;
	margin:0 auto;
}

#footer
{
	width: 100%;
	min-width: 1024px;
	height: 40px;
	padding: 10px 32px;
	background: #eee;
	text-align: center;
	color: #909090;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-top:1px solid #F28E58;
}

/*
*
* Content styles
*
*/


.membersCollection-class
{
	position:relative;
	padding:5px 15px;
	width:468px;
	border:2px solid #eee;
	background: #fff;
}

#front-end
{
	margin-right:20px;
}

.membersCollection-class h1
{
	padding: 0 3px;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	top: -18px;
	left: 20px;
	background: #fff;
	color: #F28E58;
	text-transform: uppercase;
}

.member-class
{
	width: 100%;
	height: 100px;
	padding: 10px;
	margin:10px 0;
	background:#fff;
	position:relative;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 	0px 1px 2px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 		0px 1px 2px 0px rgba(50, 50, 50, 0.25);
}

.member-class:hover
{
	border: 1px solid #F28E58;
}

.imgBox-class
{
	display:inline-block;
	word-spacing: -1;
	width: 80px;
	height: 80px;
}

.imgBox-class img
{
	width:80px;
	height:80px;
}

.nameBox-class
{
	display: inline-block;
	vertical-align: top;
	height: 80px;
	padding: 30px 15px;
	color: #909090;
	font-weight: bold;
	cursor:default;
}

.destroyButton-class
{
	width: 30px;
	height: 30px;
	background: url(../img/closeicon.png) no-repeat;
	position: absolute;
	top: 5px;
	right: 5px;
	background-size: 80% auto;
	background-position: 4px 4px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 	0px 1px 2px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 		0px 1px 2px 0px rgba(50, 50, 50, 0.25);
	cursor:pointer;
}

.destroyButton-class:hover
{
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow: 	inset 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
	box-shadow: 		inset 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
}

#form
{
	position:relative;
	width: 500px;
	margin: 10px auto;
	padding: 50px;
	border: 2px solid #eee;
	-webkit-transition: .8s all;
	transition: .8s all;
}

#form h1 {
	padding: 0 3px;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	top: -18px;
	left: 20px;
	background: #fff;
	color: #F28E58;
	text-transform: uppercase;
}

#form input[type="text"]
{
	width: 220px;
	height: 40px;
	padding:12px;
	color:#eee;
	font-size:14px;
	display: block;
	margin: 20px auto;
	border: 2px solid #eee;
	color:#F28E58;
}

.radio-wrap {
	width:220px;
	margin: 20px auto 30px;
	padding: 0 15px;
}

label[for="frontend"], label[for="backend"] {
	color: #aaa;
	font-size: 14px;
}

label[for="frontend"] {
	margin-right: 15px;
}

#form input[type="radio"]
{
	margin-right:5px;
	cursor: pointer;
}

#form input:focus
{
	outline:0;
	border: 2px solid #F28E58;
	color:#F28E58;
}

#form input.error {
	border:1px solid red;
	color:red;
}

#form input.correct {
	border:1px solid green;
	color:green;
}

#saveButton
{
	margin: 0 auto 20px;
}

.team-container {
	width:480px;
	display:inline-block;
	vertical-align:top;
}

.error-container {
	width: 600px;
	height:80px;
	margin: 20px auto;
	text-align: center;
	padding: 30px;
	border: 1px solid red;
	color: red;
	text-transform: uppercase;
	opacity: 0;
}

.editName {
	display: none;
	width: 220px;
	height: 40px;
	padding: 12px;
	color: #eee;
	color: #909090;
	font-weight: bold;
	border: 2px solid #eee;
	color: #F28E58;
	position: relative;
	top: -60px;
	left: 95px;
	-webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0, 0.25);
	-moz-box-shadow: 		inset 1px 1px 3px rgba(0,0,0, 0.25);
	box-shadow: 				inset 1px 1px 3px rgba(0,0,0, 0.25);
}

.editing .editname {
	display: block;
}

.editing .nameBox-class {
	display: none;
}

.sort-buttons-wrap {
	padding: 5px;
	text-align: right;
	color: #aaa;
	font-weight: bold;
}

.sort-buttons-wrap span {
	padding:0 10px;
	cursor:pointer;
}

.straight-sort {
	border-right: 2px solid #F28E58;
}

.moving{
	position:absolute;
	z-index: 9999;
	cursor:-webkit-grabbing;
	cursor:-moz-grabbing;
	width:100px;
	border: 2px solid #F28E58;
	-webkit-transition: .2s width;
	transition: .2s width;
}

.moving .imgBox-class, .moving .destroyButton-class {
	display:none;
}